__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.venv
venv\Scripts\
venv/Lib/
*.egg-info/
dist/
build/
__pycache__
*.sqlite3
*.db
.DS_Store
/.vscode/
/.idea/
*.log
secrets.toml
credentials.toml